<div class="row d-flex flex-column align-items-center justify-content-center">

  <h1 class="text-center my-4">All articles</h1>

  <% @articles.each do |article| %>
    <div class="article card bg-light w-75 mb-4">
      <div class="article-title text-capitalize ">
        <%=link_to article.title, article_path(article), class: 'text-decoration-none' %>
      </div>
      <div class="article-body">
       <%= truncate(article.description, length: 100) %> </p>
      </div>

      <div class="article-actions my-4 d-flex">
        <%= link_to 'Edit this article', edit_article_path(article), class: 'btn btn-xs btn-primary' %>
        <%= button_to 'Delete this article', article_path(article), method: :delete,
                      data: { confirm: 'Are you sure' },
                      class: 'btn btn-xs btn-danger mx-2' %>
      </div>
    </div>
  <% end %>
</div>

