<footer>
  <small>
    Copyright &copy;
    <%= DateTime.now.year %> by
    <a href="#">Victor Enoma</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to 'About', pages_about_path, class: 'link' %>
      </li>
    </ul>
  </nav>
</footer>
